*{margin: 0; padding: 0;}

.container {
 text-align: center;

}

.button {
 margin: 0 auto;
 font-size: 25px;
 background: green;
 border-radius: 10px;
 padding: 20px;
 width: 170px;
 margin-top: 40vh;
}

.container2 {
 background: grey;
 opacity: 0.5;
 position: absolute;
 top:0;
 left: 0;
 min-width: 100vw;
 min-height: 100vh;
 text-align: center;
}

.container2_container {
top:0;
left: 0;
position: absolute;
opacity: 1;
z-index: 4;
text-align: center;
}

.non{
  display: none;
}

.button2 {
  position: absolute;
  top:0;
  left: 0;
  margin-left: 50vw;
  font-size: 25px;
  background: green;
  border-radius: 10px;
  padding: 20px;
  width: 170px;
  margin-top: 40vh;
  z-index: 5;
  opacity: 1;
}

#iisuse{
  opacity: 0.75;
}

.container {
 text-align: center;
 /* position: absolute;
 top: 250px; */
}

.coin {
 /* margin: 0 auto;
 background: orange;
 width: 100px;
 height: 70px;
 border-top-left-radius: 50%;
 border-top-right-radius: 50%;
 border-bottom-left-radius: 50%;
 border-bottom-right-radius: 50%;
 border: 2px solid brown;
 box-shadow: 0 10px 0 brown;
 position: absolute;
 top: 100px; */

}

.buttton{
 width: 200px;
 height: 60px;
 background: red;
 box-shadow: 0 7px 0 brown;
 position: absolute;
 top: 400px;
 left: 35vh;
 border-radius: 10px;
 text-align: center;
 line-height: 60px;
 font-size: 25px;
 transition-duration: 0.5s;
}

.buttton:hover{
  top: 404px;
  box-shadow: 0 3px 0 brown;

}

.test_container {
 position: absolute;
 top: 500px;
 left: 100px;
}

.test_button {
 padding: 20px;
 background: orange;
 border-radius: 10px;
 font-size: 25px;
}

.test_text {
 width: 200px;
 height: 200px;
 background: red;
 border-radius: 15px;
 padding: 100px;
}

.active{
  display: block;
   
}




/* .test{
  width: 200px;
  height: 200px;
  padding: 30px;
  background: green;

} */
