.wrapper {
  height: 100%;
  padding: 50px;
}

.block {

}

.block_item {
 margin-bottom: 20px;
}

.title {
 text-transform: uppercase;
 letter-spacing: 2px;
 position: relative;
 padding-left: 30px;
 cursor: pointer;
}

.title::after,
.title::before{
  content: "";
  width: 10px;
  height: 2px;
  background: black;
  position: absolute;
  top:8px;
  transition-duration: 0.9s;
}

.title::before{
  transform: rotate(40deg);
  left:0;
}

.title::after{
  transform: rotate(-40deg);
  left:8px;
}

.title.active::after{
  transform: rotate(40deg);
  left:8px;
  top:8px;
  background: red;
}
.title.active::before{
  transform: rotate(-40deg);
  left:0;
  top:8px;
  background: red;
}

.text {
  display: none;
 padding: 10px 0 0 0;
}

.active{display: block;}






















/*  */
